/* FONTS */

.lora-regular {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lora-bold {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lora-regular-italic {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
}

/* STYLES */

.outer-container {
  padding: 16px 40px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .outer-container {
    padding: 16px;
  }
}

.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speak-cancel {
  background-color: blueviolet;
  padding: 8px 24px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 0px black;
  transition: all 0.2s ease-in;
}

.speak-cancel:hover {
  background-color: white;
  color: blueviolet;
  border-color: blueviolet;
  box-shadow: 4px 4px 0 black;
}

.read {
  margin-left: auto;
  margin-bottom: 20px;
}

.headline {
  font-size: 3rem;
  margin: 0 0 16px;
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 2.5rem;
    margin-bottom: 8px;
  }
}

.counter {
  font-size: 16px;
  margin: 0px 0px 38px;
}

@media screen and (max-width: 768px) {
  .counter {
    font-size: 14px;
    margin: 0px 0px 12px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .list-item {
    gap: 16px;
  }
}

.list-item.consumed .item-content,
.list-item.consumed .checkbox-container {
  opacity: 0.3;
}

.list-item .item-content {
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s ease-in-out;
}

.list-item .date-added {
  font-size: 14px;
  margin: 0 0 6px;
}

@media screen and (max-width: 768px) {
  .list-item .date-added {
    font-size: 12px;
  }
}

.list-item .item-inner-content {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .list-item .item-inner-content {
    font-size: 16px;
  }
}

.list-item .item-number {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .list-item .item-number {
    font-size: 14px;
  }
}

.list-item a {
  text-decoration: none;
  color: black;
  margin-left: 8px;
  line-height: 1.5;
}

.list-item a:hover {
  text-decoration: underline;
  text-decoration-color: blueviolet;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.list-item.playing .item-inner-content *,
.list-item.playing .date-added {
  font-weight: bold;
  color: blueviolet;
}

.actions {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.actions button {
  padding: 6px 12px;
  border: 1px solid blueviolet;
  transition: all 0.15s ease-in;
  box-shadow: 0px 0px 0px black;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 68px;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
}

.actions button:hover {
  box-shadow: 2px 2px 0px black;
  font-weight: bold;
}

.actions .loading {
  background-color: black;
  color: white;
}

.actions .loading:hover {
  box-shadow: 2px 2px 0px blueviolet;
}

.actions .hear {
  background-color: white;
  color: blueviolet;
}

.actions .hear:hover,
.list-item .stop {
  background-color: blueviolet;
  color: white;
}

.actions .stop:hover {
  color: white;
  background-color: black;
  box-shadow: 2px 2px 0px blueviolet;
}

/* CHECKBOX STYLES */

:root {
  --form-control-color: blueviolet;
  --form-control-disabled: #959495;
  --form-control-size: 26px;
}

@media screen and (max-width: 768px) {
  :root {
    --form-control-size: 20px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.checkbox-container {
  font-family: system-ui, sans-serif;
  font-size: var(--form-control-size);
  font-weight: bold;
  line-height: 1;
  display: grid;
  grid-template-columns: 1em auto;
  transition: opacity 0.2s ease-in-out;
}

.checkbox-container + .checkbox-container {
  margin-top: 1em;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: var(--form-control-size);
  height: var(--form-control-size);
  border: 2px solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: round(up, calc(var(--form-control-size) * 0.69), 1px);
  height: round(up, calc(var(--form-control-size) * 0.69), 1px);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"]:hover {
  border-color: var(--form-control-color);
  box-shadow: 2px 2px 0 black;
}

#sort-items-select {
  margin-left: 16px;
}

/* SPINNER */

.spinner-container {
  display: flex;
  align-items: center;
  gap: 4px;
  color: blueviolet;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid blueviolet;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
